<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit Author</title>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/forms.css}">
</head>
<style>
    .edit-author-container {
        padding: 4rem var(--padding-container);
    }

    .edit-author-container h1 {
        font-size: 2.8rem;
        margin-bottom: 2rem;
    }

    .edit-author-form {
        width: 100%;
        margin-bottom: 2rem;
    }
</style>
<body>
<th:block th:insert="~{fragments/navigation :: navigation}"></th:block>

<div class="edit-author-container">
    <h1>Edit Author</h1>

    <form class="edit-author-form" method="POST" th:action="@{/authors/updateAuthor}">
        <input name="id" th:value="${author.id}" type="hidden">
        <div class="input-group">
            <label>First Name</label>
            <input class="form-control" name="firstName" required type="text" th:value="${author.firstName}" placeholder="Enter first name *">
        </div>
        <div class="input-group">
            <label>Last Name</label>
            <input class="form-control" name="lastName" required type="text" th:value="${author.lastName}" placeholder="Enter last name *">
        </div>
        <button class="form-submit submit" type="submit" onclick="initLoadingSpinner()">Edit Author</button>
    </form>
    <a class="back-btn" th:href="@{'/authors'}" >Back</a>
</div>
</body>
<script>
    const initLoadingSpinner = () => {
        const firstName = document.querySelector('input[name="firstName"]').value;
        const lastName = document.querySelector('input[name="lastName"]').value;

        const submitBtn = document.querySelector('.submit');

        if(firstName === '' || lastName === '') {
            alert('Please fill in all the fields');
        } else {
            submitBtn.innerHTML = '<div class="loader"></div>';
        }
    }
</script>
</html>