@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

:root {
    --primary400: #8DCEFC;
    --primary500: #0095FF;
    --primary600: #0069B4;
    --bg500: #ffffff;
    --bg600: #fafafa;
    --bg700: #f6f6f6;
    --bg800: #ececec;
    --bg900: #e1e1e1;
    --bg1000: #d0d0d0;
    --box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    --padding-container: 23rem;
    --error-bg: #f2dedd;
    --error-text: #a94442;
    --sucess-bg: #d4edda;
    --sucess-text: #155724;
}

/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/

/* ----- Navbar styles ----- */

.navbar {
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg500);
    padding: 2rem 4rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .12);
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left i {
    color: var(--primary500);
    font-size: 2.4rem;
    margin-right: 1rem;
}

.navbar-left a {
    text-decoration: none;
    color: var(--primary500);
    font-weight: bold;
    font-size: 2.4rem;
}

.navbar-right .navbar-nav {
    list-style: none;
    display: flex;
}

.nav-item>a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

.navbar-nav .nav-item:not(:last-child) {
    margin-right: 1.2rem;
}

.nav-item:hover > a {
    color: var(--primary500);
}

.loader {
    width: 20px;
    height: 20px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.previous-btn {
    font-size: 1.6rem;
    text-decoration: none;
    border-radius: .4rem;
    padding: 1rem 1.6rem;
    border: 0.4px solid black;
    color: black;
}

.current-page {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 2rem;
    text-decoration: none;
    padding: 2rem;
    color: black;
    height: 25px;
    width: 25px;
    background: #f3f4f6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-btn {
    font-size: 1.6rem;
    text-decoration: none;
    border-radius: .4rem;
    padding: 1rem 1.6rem;
    border: 0.4px solid black;
    color: black;
}


