.total-icon > i {
    font-size: 4rem;
    color: var(--primary500);
    padding-right: 1rem;
}

.total-info {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 300;
}

.total-info > span {
    font-size: 2rem;
    font-weight: 500;
}

.filters {
    display: flex;
}

.search-input {
    margin-right: 2rem;
    padding: 1rem;
    background-color: var(--bg700);
    border-radius: .4rem;
    border: 1px solid var(--primary500);
}

.search-input input {
    border: none;
    outline: none;
    font-size: 1.8rem;
    padding: 1rem;
    background-color: var(--bg700);
}

.search-input button {
    border: none;
    outline: none;
    background-color: var(--bg700);
    font-size: 2.2rem;
    color: var(--primary500);
    padding: 1rem;
}

.search-input button:hover {
    cursor: pointer;
}

.filter-container:not(:last-child) {
    margin-right: 2rem;
}

.filter-container {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    background-color: var(--bg700);
    justify-content: center;
    padding: .8rem 1.2rem;
    border-radius: .4rem;
    border: 1px solid var(--primary500);
}

.filter-container > label {
    margin-bottom: .4rem;
    font-size: 1.6rem;
}

.filter-container > select {
    border: 1.5px solid var(--bg1000);
    background-color: var(--bg700);
    color: var(--primary500);
    outline: none;
}

.btn-clear {
    background-color: var(--bg700);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem 1.2rem;
    border-radius: .4rem;
    border: 1px solid var(--primary500);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.btn-clear:hover {
    cursor: pointer;
}

.btn-add {
    font-size: 1.4rem;
    background-color: var(--bg700);
    justify-content: center;
    padding: .8rem 1.2rem;
    border-radius: .4rem;
    border: 1px solid var(--bg1000);
    text-decoration: none;
    color: black;
    margin-right: 2rem;
    font-size: 1.6rem;
}

.btn-details {
    font-size: 1.4rem;
    background-color: var(--bg700);
    justify-content: center;
    padding: .8rem 1.2rem;
    border-radius: .4rem;
    border: 1px solid var(--bg1000);
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

.action-buttons {
    display: flex;
    box-sizing: border-box;
    margin: 2rem 0;
}

.actions-row {
    display: inline-flex;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.actions-row>div:not(:last-child) {
    margin-right: 1rem;
}

.table {
    font-size: 1.8rem;
    border: 1.5px solid var(--bg1000);
    border-radius: .4rem;
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
}

.table-head tr>th:first-child {
    padding-left: 1rem;
}

.table-head tr>th{
    text-align: start;
    border-bottom: 1.5px solid var(--bg1000);
    padding: 1rem 1rem 1rem 0;
}

.table-head tr>th>a {
    text-decoration: none;
    color: black;
}

.id {
    padding-left: 1rem;
    text-align: start;
}

.id-header {
    padding-left: 1rem;
}

.id {
    padding-left: 1rem;
    text-align: start;
}

.table-content-row:hover {
    background: var(--bg800);
}

.table-content tr>td,th {
    padding: 1rem 1rem 1rem 0;
}

.table-content tr>td {
    font-size: 1.6rem;
    text-align: start;
    white-space: normal;
    word-break: break-word;
}

.table-content tr>td>a {
    color: var(--primary500);
    text-decoration: none;
}

.table-content-row {
    box-sizing: border-box;
    border: 1.5px solid var(--bg1000);
}

.admin-user {
    background-color: var(--error-bg);
    border-radius: .4rem;
    padding: 1rem;
    text-align: center;
    color: var(--error-text);
}

.librarian-user {
    background-color: var(--primary400);
    border-radius: .4rem;
    padding: 1rem;
    text-align: center;
    color: var(--primary600);
}

.member-user {
    background-color: var(--bg800);
    border-radius: .4rem;
    padding: 1rem;
    text-align: center;
    color: black;
}

.action-btn {
    background-color: var(--bg800);
    border-radius: .4rem;
    padding: 1rem;
    text-align: center;
    color: black;
    border: 1px solid black;
    vertical-align: center;
}

.action-btn > i {
    color: black;
}

.delete-btn {
    background-color: var(--error-bg);
    border-radius: .4rem;
    padding: 1rem;
    text-align: center;
    color: var(--error-text);
    border: 1px solid var(--error-text);
}

.delete-btn > i {
    color: var(--error-text);
}

.actions-row>a:not(:last-child) {
    margin-right: 1rem;
}

.enabled-user>div {
    background-color: var(--sucess-bg);
    border-radius: .4rem;
    padding: 1rem;
    text-align: center;
    color: var(--sucess-text);
}

.disabled-user>div {
    background-color: var(--error-bg);
    border-radius: .4rem;
    padding: 1rem;
    text-align: center;
    color: var(--error-text);
}

.loans-row {
    flex-wrap: wrap;
}

.loans-row div>a {
    margin-right: 1rem;
    text-decoration: none;
}

.modal-overlay {
    background-color: rgba(0,0,0,0.2);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
}

.delete-modal {
    background-color: white;
    padding: 1rem;
    border-radius: .4rem;
    font-size: 1.6rem;
}

.modal-header h1{
    font-size: 2.8rem;
    margin-bottom: 1.2rem;
}

.modal-body {
    margin-bottom: 1rem;
}

.yes-btn {
    background-color: var(--error-bg);
    border-radius: .4rem;
    padding: 1rem 1.6rem;
    color: var(--error-text);
    border: 0.4px solid var(--error-text);
    margin-right: 1rem;
    text-decoration: none;
}

.no-btn {
    font-size: 1.6rem;
    text-decoration: none;
    border-radius: .4rem;
    padding: 1rem 1.6rem;
    border: 0.4px solid black;
    color: black;
}

.none-found {
    font-size: 1.8rem;
}

.pagination-container {
    display: flex;
    margin-top: 2rem;
}

.previous-btns-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-btns-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    background-color: var(--error-bg);
    border-radius: .4rem;
    padding: 1rem 1.6rem;
    color: var(--error-text);
    border: 0.4px solid var(--error-text);
    margin-bottom: 1rem;
    font-size: 1.6rem;
    margin-top: 1rem;
}