<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Add new Book</title>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/forms.css}">
</head>
<style>
    .add-book-container {
        padding: 4rem var(--padding-container);
    }

    .add-book-container h1 {
        font-size: 2.8rem;
        margin-bottom: 2rem;
    }

    .add-book-form {
        width: 100%;
        margin-bottom: 2rem;
    }
</style>
<body>
    <th:block th:insert="~{fragments/navigation :: navigation}"></th:block>

    <div class="add-book-container">
        <h1>Add new Book</h1>

        <form class="add-book-form" method="POST" th:action="@{/books/saveBook(${_csrf.parameterName}=${_csrf.token})}" enctype="multipart/form-data">
            <div class="input-group">
                <label>Book Information</label>
                <select class="form-select" name="bookInfo" id="bookInfo" required>
                    <option
                            th:each="bookInfo: ${bookInfoOptions}"
                            th:text="${bookInfo.title}" th:value="${bookInfo.id}"
                    ></option>
                </select>
            </div>

            <div class="input-group">
                <label>Book Status</label>
                <select class="form-select" name="bookStatus" id="bookStatus" required>
                    <option
                            th:each="bookStatus: ${bookStatusOptions}"
                            th:text="${bookStatus.toString()}" th:value="${bookStatus.toString()}"
                    ></option>
                </select>
            </div>

            <div class="input-group">
                <label>Is it Available</label>
                <select class="form-select" name="available" id="available" required>
                    <option
                        th:text="Yes" th:value="${true}"
                    ></option>
                    <option
                            th:text="No" th:value="${false}"
                    ></option>
                </select>
            </div>

            <div class="input-group">
                <label>Publisher Name</label>
                <input class="form-control" name="publisherName" required type="text" placeholder="Enter Publisher Name *">
            </div>

            <div class="input-group">
                <label>Date Of Publishing</label>
                <input class="form-control" name="dateOfPublishing" required type="date">
            </div>

            <div class="input-group">
                <label>ISBN</label>
                <input class="form-control" name="isbn" required type="text" placeholder="Enter ISBN *">
            </div>

            <div class="input-group">
                <label>Image Url</label>
                <input class="form-control" name="image" type="text" placeholder="Enter Image Url">
            </div>

            <div class="input-group">
                <label>Image Upload</label>
                <div class="error" th:text="${fileUploadMessage}" th:if="${fileUploadMessage != null}"></div>
                <p class="limit">Limit: 50MB</p>
                <input id="input-file" type="file" name="file" />
            </div>

            <input type="hidden"
                   name="${_csrf.parameterName}"
                   value="${_csrf.token}"/>

            <button class="form-submit submit" type="submit" onclick="initLoadingSpinner()">Add Book</button>
        </form>
        <a class="back-btn" th:href="@{'/books'}">Back</a>
    </div>
</body>
<script>
    const initLoadingSpinner = () => {
        const bookInfo = document.querySelector('input[name="bookInfo"]').value;
        const bookStatus = document.querySelector('input[name="bookStatus"]').value;
        const available = document.querySelector('input[name="available"]').value;
        const publisherName = document.querySelector('input[name="publisherName"]').value;
        const dateOfPublishing = document.querySelector('input[name="dateOfPublishing"]').value;
        const isbn = document.querySelector('input[name="isbn"]').value;

        const submitBtn = document.querySelector('.submit');

        if(bookInfo === '' || bookStatus === '' || available === '' || publisherName === '' || dateOfPublishing === '' || isbn === '') {
            alert('Please fill in all the fields');
        } else {
            submitBtn.innerHTML = '<div class="loader"></div>';
        }
    }
</script>
</html>