<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Add new Loan</title>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/forms.css}">
</head>
<style>
    .add-loan-container {
        padding: 4rem var(--padding-container);
    }

    .add-loan-container h1 {
        font-size: 2.8rem;
        margin-bottom: 2rem;
    }

    .add-loan-form {
        width: 100%;
        margin-bottom: 2rem;
    }
</style>
<body>
<th:block th:insert="~{fragments/navigation :: navigation}"></th:block>

<div class="add-loan-container">
    <h1 th:text="${'Start a new Loan ' + ' for Book: ' + book.bookInfo.title }"></h1>

    <form class="add-loan-form" method="POST" th:action="@{/loans/{bookId}/saveLoan(bookId=${book.id})}">
        <div class="input-group">
            <label>Member </label>
            <select class="form-select" name="memberId" required>
                <option th:each="member: ${memberOptions}"
                        th:text="${member.firstName + ' ' + member.lastName}" th:value="${member.id}"
                ></option>
            </select>
        </div>

        <button class="form-submit submit" type="submit" onclick="initLoadingSpinner()">Create Loan</button>
    </form>
    <a class="back-btn" onclick="history.back()">Back</a>
</div>
</body>
<script>
    const initLoadingSpinner = () => {
        const memberId = document.querySelector('select[name="memberId"]').value;

        const submitBtn = document.querySelector('.submit');

        if(memberId === '') {
            alert('Please fill in all the fields');
        } else {
            submitBtn.innerHTML = '<div class="loader"></div>';
        }
    }
</script>
</html>